@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


* {
    /*background-color: #231942;*/
    font-family: "Montserrat", sans-serif;
}

.bigHeader {
    font-size: 5rem;
    border: none;
}

.title-placement {
    top: 50%;
    bottom: 50%;
}

.introductionText {
    font-size: 3rem;
}

.selfImage {
    width: 25rem;
    overflow: hidden;
    margin-left: 9.5rem;
}